*.o
*.so
*.d
*.efi
*.skel.h
/src/**/ishoal_native
/src/**/ishoal_py
/src/**/ishoal
/src/**/py_dist_build/
/src/extern/*
!/src/extern/get.sh
!/src/extern/*.patch
!/src/py_dist/ishoal
/srv/registry/node_modules/
/srv/registry/package-lock.json
/srv/relay/ishoal-relay
/vm/ishoal.ova
/vm/binpkgs
/vm/IShoalPkg/BootImg.png
/vm/IShoalPkg/BootImgOffsets.h
/vm/IShoalPkg/BootImgUntrimmed.bmp
/vm/IShoalPkg/IShoal.inf
/vm/LodePngPkg/
