*.o
*.so
*.d
*.efi
*.skel.h
/src/ishoal_native
/src/ishoal_py
/src/ishoal
/src/py_dist_build/
/src/extern/
/srv/registry/node_modules/
/srv/registry/package-lock.json
/vm/ishoal.ova
/vm/binpkgs
/vm/IShoalPkg/BootImg.bmp
/vm/IShoalPkg/BootImgOffsets.h
/vm/IShoalPkg/BootImgUntrimmed.bmp
/vm/IShoalPkg/IShoal.inf
