*.o
*.so
*.d
*.efi
*.skel.h
/src/**/ishoal_native
/src/**/ishoal_py
/src/**/ishoal
/src/**/py_dist_build/
/src/extern/*
!/src/py_dist/ishoal
!/src/extern/get.sh
/node_modules/
/package-lock.json
/vm/ishoal.ova
/vm/binpkgs
