# CONFIG_MODULES is not set
CONFIG_BTRFS_FS=y
CONFIG_BPF_SYSCALL=y
CONFIG_XDP_SOCKETS=y

CONFIG_BNX2=y
CONFIG_E1000=y
CONFIG_E1000E=y
CONFIG_IGB=y
CONFIG_R8169=y

CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="root=/dev/sda2"
CONFIG_CMDLINE_OVERRIDE=y
CONFIG_EFI_STUB=y

# CONFIG_LOGO is not set
# CONFIG_DEBUG_STACK_USAGE is not set
