# CONFIG_SMP is not set

CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_FORCE=y
CONFIG_MODULE_SIG_ALL=y

CONFIG_BTRFS_FS=y
CONFIG_BPF_SYSCALL=y
CONFIG_XDP_SOCKETS=y

CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y

CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_KVM_GUEST=y

# This is for SMP
# CONFIG_PARAVIRT_SPINLOCKS=y

CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_MMIO=y
CONFIG_HW_RANDOM_VIRTIO=y

# VirtualBox enable host LRO and partial CSUM, can't enable XDP
CONFIG_VIRTIO_NET=m

CONFIG_E1000=y
CONFIG_E1000E=y

CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="root=/dev/sda2"
# CONFIG_CMDLINE_OVERRIDE is not set
CONFIG_EFI_STUB=y

# CONFIG_LOGO is not set
# CONFIG_DEBUG_STACK_USAGE is not set

CONFIG_FB=y
CONFIG_FB_EFI=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y

CONFIG_RANDOM_TRUST_CPU=y

CONFIG_EXPERT=y
CONFIG_EARLY_PRINTK=y

CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_XZ=y

CONFIG_LEGACY_VSYSCALL_NONE=y

CONFIG_TMPFS=y

# CONFIG_CGROUPS is not set
# CONFIG_NAMESPACES is not set
# CONFIG_MULTIUSER is not set

# CONFIG_AGP is not set
# CONFIG_DRM is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_SOUND is not set
# CONFIG_WLAN is not set
# CONFIG_WIRELESS is not set
# CONFIG_IPV6 is not set
