# /etc/systemd/system/ikiwi.service
[Unit]
Description=iShoal registry
Documentation=https://ishoal.ink
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/ubuntu/ikiwi.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
